<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 	<display-name></display-name>	
 	<servlet>
 		<servlet-name>CheckServlet</servlet-name>
 		<servlet-class>servlet.CheckServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/CheckServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>logoutServlet</servlet-name>
 		<servlet-class>servlet.logoutServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>registerServlet</servlet-name>
 		<servlet-class>servlet.registerServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>AddcomServlet</servlet-name>
 		<servlet-class>servlet.AddcomServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>AddcomServlet</servlet-name>
		<url-pattern>/AddcomServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>AddlecServlet</servlet-name>
 		<servlet-class>servlet.AddlecServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>AddlecServlet</servlet-name>
		<url-pattern>/AddlecServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>apptimeServlet</servlet-name>
 		<servlet-class>servlet.apptimeServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>apptimeServlet</servlet-name>
		<url-pattern>/apptimeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>delappServlet</servlet-name>
 		<servlet-class>servlet.delappServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>delappServlet</servlet-name>
		<url-pattern>/delappServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>DelcomServlet</servlet-name>
 		<servlet-class>servlet.DelcomServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>DelcomServlet</servlet-name>
		<url-pattern>/DelcomServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>DellecServlet</servlet-name>
 		<servlet-class>servlet.DellecServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>DellecServlet</servlet-name>
		<url-pattern>/DellecServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>Sign_inServlet</servlet-name>
 		<servlet-class>servlet.Sign_inServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>Sign_inServlet</servlet-name>
		<url-pattern>/Sign_inServlet</url-pattern>
	</servlet-mapping>
	<servlet>
 		<servlet-name>UpdateServlet</servlet-name>
 		<servlet-class>servlet.UpdateServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>

</web-app>
